.button {
    background: #ff7f41;
    color: #60270b;
    font-weight: 600;
    width: 91px;
    display: inline-block;
}

.main-amount {
    font-size: 3em;
    font-weight: 600;
}

.change-up {
    font-size: 0.9em;
    font-weight: 700;
    color: rgb(70, 163, 70);
}

.change-up-highlight {
    background-color: #124012;
    padding: 0.3rem;
    border-radius: 0.2rem;
}

.botton-row {
    margin-top: 30px
}
