.button {
    background: #bd8af1;
    color: #220a39;
    font-weight: 600;
    width: 91px;
    display: inline-block;
}

.main-amount {
    font-size: 3em;
    font-weight: 600;
}

.change-up {
    font-size: 0.9em;
    font-weight: 700;
    color: rgb(70, 163, 70);
}

.change-up-highlight {
    background-color: #0a220a;
    padding: 0.3rem;
    border-radius: 0.2rem;
}